<head>

  <title>
    {% if page.title == "Home" %}
      {{ site.data.settings.title }} | {{ site.data.settings.tagline }}
    {% else %}
      {{ page.title }} | {{ site.data.settings.title }}
    {% endif %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/syntax.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Lato:900,700,400|Karla:400|Merriweather">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/favicon.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  {% include google_analytics.html %}

</head>
