<head>

  <title>
    {% if page.title == "Home" %}
      {{ site.data.settings.title }} | {{ site.data.settings.tagline }}
    {% else %}
      {{ page.title }} | {{ site.data.settings.title }}
    {% endif %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/syntax.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Lato:900,700,400|Karla:400|Merriweather|Nunito+Sans:900,400|Nunito|Open+Sans:400,700|Montserrat:300">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  </style>
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/images/coding.jpg">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Sharing -->
  {% if page.title == "Home" %}
  <meta property="og:title" content="{{ site.data.settings.title }} | {{ site.data.settings.tagline }}" />
  {% else %}
  <meta property="og:title" content="{{ page.title }} | {{ site.data.settings.title }}" />
  {% endif %}
	<meta property="og:site_name" content="{{ site.data.settings.title }} | {{ site.data.settings.tagline }}"/>


	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />

  
   {% if page.content contains '<!--break-->' %}
      <meta property="og:description" content="{{ page.content | strip_html| truncatewords:50 | split:'<!--break-->' | first }}" />
   {% endif %}
	
	<meta property="og:type" content="website" />
  {% if page.title == "Home" %}
	<meta property="og:image" content="{{ site.baseurl }}/images/coding.jpg" />
  {% else %}
  <meta property="og:image" content="{{ site.baseurl }}/images/coding.jpg" />
  {% endif %}

  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  {% include google_analytics.html %}

</head>
