---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);@font-face {
  font-family: Jenius;
  src: url(font/JeniusSans-Light.eot);
  src: url(font/JeniusSans-Light.eot?#iefix) format("embedded-opentype"),url(font/JeniusSans-Light.woff) format("woff"),url(font/JeniusSans-Light.ttf) format("truetype"),url(font/JeniusSans-Light.svg#4f18e424d9a37b543c0cdbaec1aadf1e) format("svg");
  font-style: normal;
  font-weight: 300
}

@font-face {
  font-family: Jenius;
  src: url(font/JeniusSans-Regular.eot);
  src: url(font/JeniusSans-Regular.eot?#iefix) format("embedded-opentype"),url(font/JeniusSans-Regular.woff) format("woff"),url(font/JeniusSans-Regular.ttf) format("truetype"),url(font/JeniusSans-Regular.svg#4f18e424d9a37b543c0cdbaec1aadf1e) format("svg");
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: Jenius;
  src: url(font/JeniusSans-Bold.eot);
  src: url(font/JeniusSans-Bold.eot?#iefix) format("embedded-opentype"),url(font/JeniusSans-Bold.woff) format("woff"),url(font/JeniusSans-Bold.ttf) format("truetype"),url(font/JeniusSans-Bold.svg#4f18e424d9a37b543c0cdbaec1aadf1e) format("svg");
  font-style: normal;
  font-weight: 700
}


// Our variables
$base-font-family: "Jenius", "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic, "Malgun Gothic", Dotum, sans-serif;
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2568ba;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// whiteglass also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from the `whiteglass` theme.
@import "whiteglass";
