---
layout: default
---

<div class="home">

  {{ content }}

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-list">
    {% for post in paginator.posts %}
      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li{% if lang != empty %} lang="{{ lang }}"{% endif %}>
        <header class="post-header">
          <h1 class="post-title">
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a>
          </h1>

          <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}
            {% if post.categories != empty %} • 
              {% for category in post.categories %}
                {% assign no_comma = forloop.last %}
                <a href="/categories/{{ category | escape }}/" title="View posts with category &quot;{{ category }}&quot;">{{ category }}</a>{% unless no_comma %},{% endunless %}
              {% endfor %}
            {% endif %} •
          </p>
        </header>

        <div class="post-content">
            {% if post.image != empty %}
            <!-- <img src="{{ post.image }}"><br><br> -->
            {% endif %}
          {{ post.excerpt }}
        </div>
        {% if post.content contains site.excerpt_separator %}
          <p class="post-continue">
            <a href="{{ post.url | relative_url }}">Read more &rarr;</a>
          </p>
        {% endif %}
        {% if post.tags != empty %} {% include tags.html tags=post.tags %}{% endif %}
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
